<!DOCTYPE html>
<html lang="en" ng-app="articlemodule">
  <head>
    <meta charset="utf-8">
    <title>VCP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="lib/flatui/bootstrap.css" rel="stylesheet">
    <link href="lib/flatui/flat-ui.css" rel="stylesheet">
    <link href="app/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="app/img/favicon.ico">
    <!--[if lt IE 9]>
      <script src="lib/other/html5shiv.js"></script>
    <![endif]-->
    <!-- 默认 Site Theme -->
    <link href="theme/default/site-theme.css" rel="stylesheet">
      <script src="ckeditor/ckeditor.js"></script>
      <script src="ckeditor/plugins/forms/plugin.js"></script>
  </head>
<body style="background:#e9e8e4;">



<!-- Header -->
<header class="header">
	<h1 class="logo">VCP</h1><a href="page.html" class="signin">Sign In</a>
    <ul class="menu clearfix">
    	<li><a href="#">User</a></li>
    	<li><a href="site.html">Site</a></li>
        <li><a href="page.html">Page</a></li>
        <li><a href="article_list_index.html" class="current">Article</a></li>
        <li><a href="reports.html">Reports</a></li>
        <li><a href="store.html">Store</a></li>
    </ul>
</header>


<!-- Container -->
<div class="vcpbox" ng-view>
</div>




<!--<label class="radio searchradio" ng-click="orderbytype('create')"><input type="radio" id="create" name="time">Create</label>
<label class="radio searchradio" ng-click="orderbytype('updated')"><input type="radio" id="updated" name="time">Updated</label>
<label class="radio searchradio" ng-click="orderbytype('published')"><input type="radio" id="published" name="time">Published</label>
<label class="radio searchradio" ng-click="orderbytype('clickcount')"><input type="radio" id="clickcount" name="time">Click</label>-->










    <script src="lib/angular/1.1.5/angular.js"></script>
    <script src="lib/boostrap/ui-bootstrap-tpls-0.3.0.js"></script>
	<script src="app/js/articlecontrollers.js"></script>
    <script src="lib/moment/moment.min.js"></script>
    <script src="lib/underscore/underscore-min.js"></script>
	<!-- Load JS -->
	<script src="lib/jquery/jquery-1.8.2.min.js"></script>
    <script src="lib/jqueryui/jquery-ui-1.10.0.custom.min.js"></script>
    <!-- FlatUI Plug -->
    <script src="lib/flatui/jquery.dropkick-1.0.0.js"></script>
    <script src="lib/flatui/custom_checkbox_and_radio.js"></script>
    <script src="lib/flatui/jquery.tagsinput.js"></script>
    <script src="lib/flatui/jquery.placeholder.js"></script>
    <script src="lib/flatui/application.js"></script>
    <!-- Bootstrap Plug -->
    <script src="lib/boostrap/bootstrap.js"></script>
    
      <!-- VisualSearch -->
      <script src="lib/visualsearch/jquery.ui.core.js" type="text/javascript" charset="utf-8"></script>
	  <script src="lib/visualsearch/jquery.ui.widget.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/jquery.ui.position.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/jquery.ui.menu.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/jquery.ui.autocomplete.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/underscore-1.4.3.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/backbone-0.9.10.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/visualsearch.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/views/search_box.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/views/search_facet.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/views/search_input.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/models/search_facets.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/models/search_query.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/utils/backbone_extensions.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/utils/hotkeys.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/utils/jquery_extensions.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/utils/search_parser.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/utils/inflector.js" type="text/javascript" charset="utf-8"></script>
      <script src="lib/visualsearch/templates/templates.js" type="text/javascript" charset="utf-8"></script>
      
    <!--[if lt IE 8]>
      <script src="lib/flatui/icon-font-ie7.js"></script>
      <script src="lib/flatui/lte-ie7-24.js"></script>
    <![endif]-->
    <script src="app/js/custom.js"></script>

   <script type="text/jscript">
		$(function() {
			// tooltip
			$('.vcpbox').tooltip({
			  selector: "a[rel=tooltip]"
			});
        });
		
		
		
		
		
		$(document).ready(function() {
        var visualSearch = VS.init({
          container  : $('#search_box_container2'),
          query      : '',
          minLength  : 0,
          showFacets : true,
          unquotable : [
            'text',
            'account',
            'filter',
            'access'
          ],
          placeholder : "Search for your documents...",
          callbacks  : {
            search : function(query, searchCollection) {
              var $query = $('#search_query2');
              $query.stop().animate({opacity : 1}, {duration: 300, queue: false});
              $query.html('<span class="raquo">&raquo;</span> You searched for: <b>' + searchCollection.serialize() + '</b>');
              clearTimeout(window.queryHideDelay2);
              window.queryHideDelay2 = setTimeout(function() {
                $query.animate({
                  opacity : 0
                }, {
                  duration: 1000,
                  queue: false
                });
              }, 2000);
            },
            valueMatches : function(category, searchTerm, callback) {
              switch (category) {
              case 'account':
                  callback([
                    { value: '1-amanda', label: 'Amanda' },
                    { value: '2-aron',   label: 'Aron' },
                    { value: '3-eric',   label: 'Eric' },
                    { value: '4-jeremy', label: 'Jeremy' },
                    { value: '5-samuel', label: 'Samuel' },
                    { value: '6-scott',  label: 'Scott' }
                  ]);
                  break;
                case 'filter':
                  callback(['published', 'unpublished', 'draft']);
                  break;
                case 'access':
                  callback(['public', 'private', 'protected']);
                  break;
                case 'title':
                  callback([
                    'Pentagon Papers',
                    'CoffeeScript Manual',
                    'Laboratory for Object Oriented Thinking',
                    'A Repository Grows in Brooklyn'
                  ]);
                  break;
                case 'city':
                  callback([
                    'Cleveland',
                    'New York City',
                    'Brooklyn',
                    'Manhattan',
                    'Queens',
                    'The Bronx',
                    'Staten Island',
                    'San Francisco',
                    'Los Angeles',
                    'Seattle',
                    'London',
                    'Portland',
                    'Chicago',
                    'Boston'
                  ])
                  break;
                case 'state':
                  callback([
                    "Alabama", "Alaska", "Arizona", "Arkansas", "California",
                    "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida",
                    "Georgia", "Guam", "Hawaii", "Idaho", "Illinois",
                    "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana",
                    "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota",
                    "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada",
                    "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina",
                    "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania",
                    "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee",
                    "Texas", "Utah", "Vermont", "Virginia", "Virgin Islands",
                    "Washington", "West Virginia", "Wisconsin", "Wyoming"
                  ]);
                  break
                case 'country':
                  callback([
                    "China", "India", "United States", "Indonesia", "Brazil",
                    "Pakistan", "Bangladesh", "Nigeria", "Russia", "Japan",
                    "Mexico", "Philippines", "Vietnam", "Ethiopia", "Egypt",
                    "Germany", "Turkey", "Iran", "Thailand", "D. R. of Congo",
                    "France", "United Kingdom", "Italy", "Myanmar", "South Africa",
                    "South Korea", "Colombia", "Ukraine", "Spain", "Tanzania",
                    "Sudan", "Kenya", "Argentina", "Poland", "Algeria",
                    "Canada", "Uganda", "Morocco", "Iraq", "Nepal",
                    "Peru", "Afghanistan", "Venezuela", "Malaysia", "Uzbekistan",
                    "Saudi Arabia", "Ghana", "Yemen", "North Korea", "Mozambique",
                    "Taiwan", "Syria", "Ivory Coast", "Australia", "Romania",
                    "Sri Lanka", "Madagascar", "Cameroon", "Angola", "Chile",
                    "Netherlands", "Burkina Faso", "Niger", "Kazakhstan", "Malawi",
                    "Cambodia", "Guatemala", "Ecuador", "Mali", "Zambia",
                    "Senegal", "Zimbabwe", "Chad", "Cuba", "Greece",
                    "Portugal", "Belgium", "Czech Republic", "Tunisia", "Guinea",
                    "Rwanda", "Dominican Republic", "Haiti", "Bolivia", "Hungary",
                    "Belarus", "Somalia", "Sweden", "Benin", "Azerbaijan",
                    "Burundi", "Austria", "Honduras", "Switzerland", "Bulgaria",
                    "Serbia", "Israel", "Tajikistan", "Hong Kong", "Papua New Guinea",
                    "Togo", "Libya", "Jordan", "Paraguay", "Laos",
                    "El Salvador", "Sierra Leone", "Nicaragua", "Kyrgyzstan", "Denmark",
                    "Slovakia", "Finland", "Eritrea", "Turkmenistan"
                  ]);
                  break;
              }
            },
            facetMatches : function(callback) {
              callback([
                'account', 'filter', 'access', 'title',
                { label: 'city',    category: 'location' },
                { label: 'address', category: 'location' },
                { label: 'country', category: 'location' },
                { label: 'state',   category: 'location' },
              ], {
                  preserveOrder: true
              });
            }
          }
        });
      });
	  
	</script>

</body>
</html>
