

      <!-- 
      Search: 
      <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      -->
      
<div class="article-title">ARTICLE LIST
    <i class="article-title-ico">
        <a href="#" class="ico-article-search" rel="tooltip" title="Search Article"></a>
        <a href="article.html" class="ico-article-addnew" rel="tooltip" title="Add New Article"></a>
    </i>
</div>

<!-- 列表 -->
<div class="article-cont" style="height:800px;">

	
    <ul class="article-list">
    	
        <!-- 选中状态 -->
        <li class="active">
            <div class="list-date">
                <h1><a href="article.html">Field-class applications Information technology.</a></h1>
                <dl>
                    <dd><p class="titlename">Type</p><p>Walkthrough</p></dd>
                    <dd><p class="titlename">Created</p><p>04/02/2013</p></dd>
                    <dd><p class="titlename">Published</p><p>04/21/2013</p></dd>
                    <dd><p class="titlename">Author</p><p>Eric</p></dd>
                    <dd><p class="titlename">Editor</p><p>iFan</p></dd>
                </dl>
            </div>
            <div class="list-count">
                <dl>
                    <dd>2013/05/29</dd>
                    <dd><span>1,932</span></dd>
                </dl>
            </div>
        </li>
        <!-- 选中状态 //End -->
        
        
                        
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" ng-class="{active: $index==melvon111}" ng-click="melvon($index)">
            <div class="list-date">
                <h1><a href="#/phones/{{phone.id}}">{{phone.name}}</a></h1>
                <dl>
                    <dd><p class="titlename">Type</p><p>{{phone.type}}</p></dd>
                    <dd><p class="titlename">Created</p><p>{{phone.created}}</p></dd>
                    <dd><p class="titlename">Published</p><p>{{phone.published}}</p></dd>
                    <dd><p class="titlename">Author</p><p>{{phone.author}}</p></dd>
                    <dd><p class="titlename">Editor</p><p>{{phone.editor}}</p></dd>
                </dl>
             </div>
             <div class="list-count">
                <dl>
                    <dd>{{phone.daytime}}</dd>
                    <dd><span>{{phone.browse}}</span></dd>
                </dl>
            </div>
        </li>
        
        
    </ul>
    
    <!-- 翻页 -->
    <div class="pagination pagination-centered">
      <ul>
        <li class="previous"><a href="#">Previous</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li class="next"><a href="#">Next</a></li>
      </ul>
    </div>
    <!-- 翻页 / End -->
    
</div>
<!-- 列表 //End-->






