<form name="newFeed">
    <!-- Content -->
    <div class="article" >

        <div class="write_title">
            <a href="article_list_index.html" class="showlist" rel="tooltip" title="Article List"></a>
            <!--<h1 >{{newarticleadata.title}}</h1>-->
            <input class="title_input" placeholder="Title name" ng-model="newarticleadata.title" type="text" required>
        </div>
        <div class="article-row">

            <!-- Left -->
            <div class="article-span9">
                <div class="article-title">PREVIEW
                    <i class="article-title-ico">520 Words</i>
                </div>
                <!-- 预览区 -->
                <div id="article-cont-preview" class="article-cont">
                	<div class="article-templete" ng-bind-html-unsafe="showinserthtml(newarticleadata.contentbody);"></div>
                </div>
                <!-- 预览区 //End-->
            </div>
            <!-- Left //End -->
            <!-- Right  -->
            <div class="article-span9" ng-hide="cssTagsPanel">
                <div class="article-title">CKeditor
                    <i class="article-title-ico">
                        <a href="" class="ico-article-setup" rel="tooltip" title="Tags Category" ng-click="cssTagsPanel = !cssTagsPanel"></a>
                    </i>
                </div>
                <!-- 编辑器 -->
                <div class="article-cont" >
                    <textarea ck-editor cols="80" id="editor1" name="editor1" rows="10" ng-model="newarticleadata.contentbody"></textarea>
                </div>
                <!-- 编辑器 //End-->
            </div>
            <!-- Right //End -->
            <!-- Right Hide Panel -->
            <div class="article-span9" ng-show="cssTagsPanel">
                <!-- Tags & Category -->
                <div class="article-title">ARTICLE ATTRIBUTE
                    <i class="article-title-ico">
                        <a href="" class="ico-article-backedit" rel="tooltip" title="Back Write" ng-click="cssTagsPanel = !cssTagsPanel"></a>
                    </i>
                </div>

                <!-- Article Arrtibute -->
                <div class="article-cont">

                    <!-- Tags -->
                    <div class="atricle_attribute_box">
                        <h3>Tags</h3>
                        <input name="tagsinput" id="tagsinput" class="tagsinput" value="" />
                    </div>
                    <!-- Tags //End -->

                    <!-- Category -->
                    <div class="atricle_attribute_box">
                        <h3>Category</h3>
                        <select ng-model="newarticleadata.category" class="select-block span3">
                            <option>Cosmetics</option>
                            <option>Insurance</option>
                            <option>Healthcare</option>
                            <option selected="selected">Health and leisure</option>
                            <option>Commercial</option>
                            <option>Online service</option>
                            <option>Entertainment</option>
                            <option>Season</option>
                            <option>Family</option>
                            <option>Education</option>
                            <option>Traveling</option>
                            <option>Car</option>
                            <option>Law</option>
                            <option>Toys and games</option>
                            <option>Law</option>
                            <option>Law</option>
                            <option>Law</option>
                        </select>
                    </div>
                    <!-- Category End -->

                    <!-- Social -->
                    <div class="atricle_attribute_box">
                        <h3>Social Up</h3>
                        <div class="share mrl">
                            <ul>
                                <li>
                                    <label class="share-label" for="share-toggle2">Facebook</label>
                                    <div class="toggle">
                                        <label class="toggle-radio" for="share-toggle2">ON</label>
                                        <input type="radio" name="share-toggles" id="share-toggle2" value="toggle1">
                                        <label class="toggle-radio" for="share-toggle1">OFF</label>
                                        <input type="radio" name="share-toggles" id="share-toggle1" value="toggle2" checked="checked">
                                    </div>
                                </li>
                                <li>
                                    <label class="share-label" for="share-toggle4">Twitter</label>
                                    <div class="toggle">
                                        <label class="toggle-radio" for="share-toggle4">ON</label>
                                        <input type="radio" name="share-toggles2" id="share-toggle4" value="toggle1" checked="checked">
                                        <label class="toggle-radio" for="share-toggle3">OFF</label>
                                        <input type="radio" name="share-toggles2" id="share-toggle3" value="toggle2">
                                    </div>
                                </li>
                                <li>
                                    <label class="share-label" for="share-toggle6">新浪微博</label>
                                    <div class="toggle">
                                        <label class="toggle-radio" for="share-toggle6">ON</label>
                                        <input type="radio" name="share-toggles3" id="share-toggle6" value="toggle1">
                                        <label class="toggle-radio" for="share-toggle5">OFF</label>
                                        <input type="radio" name="share-toggles3" id="share-toggle5" value="toggle2" checked="checked">
                                    </div>
                                </li>
                                <li>
                                    <label class="share-label" for="share-toggle8">腾讯微博</label>
                                    <div class="toggle">
                                        <label class="toggle-radio" for="share-toggle8">ON</label>
                                        <input type="radio" name="share-toggles4" id="share-toggle8" value="toggle1">
                                        <label class="toggle-radio" for="share-toggle7">OFF</label>
                                        <input type="radio" name="share-toggles4" id="share-toggle7" value="toggle2" checked="checked">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Social //End -->

                </div>
                <!-- Tags & Category //End-->

            </div>
            <!-- Right Hide Panel //End -->
            </div>
        </div>
        <div class="article-footer">
            <div class="article_btn">
                <input type="submit" value="SAVE DRAFT" class="btn-savedraft" ng-click="createNewArticle(newFeed,'draft')">
                <input type="submit" value="PUBLISH" class="btn-publish" ng-click="createNewArticle(newFeed,'publish')">
            </div>
            <!-- 版本节点 -->
            <div class="vernode">
                <div class="line">
                    <a href="" class="node" ng-class="{last:$last, current:$last}" rel="tooltip" ng-repeat="revision in newarticleadata.revision"   title="{{revision.author}} {{revision.updated | date:'MM/dd/yyyy'}}">{{revision.versionnum}}</a>
                </div>
            </div>
        </div>
    </div>
</form>