<form name="ArticleForm">
    <!-- Content -->
	<div class="article" >
    
    	<div class="write_title">
        	<a href="article_list_index.html" class="showlist" rel="tooltip"></a>
        	<!--<h1 >{{articledata.title}} </h1>-->
            <input type="text" class="title_input" required placeholder="Please input title" ng-model="articledata.title">
        </div>
        
        <div class="article-row">


            <!-- Left  -->
            <div class="article-span9">
                <div class="article-title">Preview
                    <!--<i class="article-title-ico">520 Words</i>-->
                </div>
                <!-- 预览区 -->
                <div id="article-cont-preview" class="article-cont">
                    <div class="article-templete CkeditorPreview">
                        <div class="tagbox">
                            {{ articledata.created | date:'yyyy/MM/dd HH:mm' }}  |  Tag »
                            <a href="#/tag/{{tag.tagid}}" ng-repeat="tag in articledata.tags">{{tag.tagname}}</a>
                        </div>
                        <p id="contentpreview"  ng-bind-html-unsafe="showeditpreview(articledata.contentbody)">

                        </p>
                    </div>
                	<!--<div id="contentpreview" class="article-templete"  ng-bind-html-unsafe="showeditpreview(articledata.contentbody)"></div>-->
                </div>
                <!-- 预览区 //End-->
            </div>
            <!-- Left //End -->

        
            <!-- Right -->
            <div class="article-span9" ng-hide="cssTagsPanel">
                <div class="article-title">Editor
                    <i class="article-title-ico">
                        <a href="" class="ico-article-del" rel="tooltip" ng-click="openDelModal()" ></a>
                        <a href="" class="ico-article-setup" rel="tooltip" ng-click="cssTagsPanel = true"></a>
                        <a href="" class="ico-article-backedit" rel="tooltip" ng-click="cssTagsPanel = false"></a>
                    </i>
                    <div modal="cssmodalshow" options="cssmodalslide" >
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="closeDelModal()">&times;</button>
                            <h3 >Delete Article </h3>
                        </div>

                        <div class="modal-body">
                            <h4>Are you sure delete  "{{articledata.title}}" ?</h4>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-cancel" ng-click="closeDelModal()">Cancel</button>
                            <button class="btn btn-save"  ng-click="delArticle(articledata.id)">Delete</button>
                        </div>
                    </div>
                </div>
                <!-- 编辑器 -->
                <div class="article-cont" >
                    <textarea ck-editor cols="80" id="editor1" name="editor1" rows="10" ng-model="articledata.contentbody"></textarea>
                </div>
                <!-- 编辑器 //End-->
            </div>
            <!-- Right //End -->

            <!-- Right Hide Panel -->
            <div class="article-span9" ng-show="cssTagsPanel">
                <!-- Tags & Category -->
                <div class="article-title">Article Data
                    <i class="article-title-ico">
                        <a href="" class="ico-article-del" rel="tooltip" ng-click="openDelModal()"></a>
                        <a href="" class="ico-article-setup" rel="tooltip" ng-click="cssTagsPanel = true"></a>
                        <a href="" class="ico-article-backedit" rel="tooltip" ng-click="cssTagsPanel = false"></a>
                    </i>
                    <div modal="cssshowmodifymodal" options="cssmodalslide" >
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="closecomments()">&times;</button>
                            <h3 >Article Comment</h3>
                        </div>

                        <div class="modal-body">
                            <!-- <input type="text" ng-model="articledata.versioncomment" /> -->
                            <textarea rows="3" ng-model="newversioncomment" style="width:96%"></textarea>
                        </div>

                        <div class="modal-footer">
                           <!-- <button class="btn" ng-click="closecomments()">Cancel</button>-->
                            <button class="btn btn-save" ng-click="saveModifyArticle()">Save</button>
                        </div>
                    </div>
                </div>
                <!-- Article Arrtibute -->
                <div class="article-cont">
                    <!-- Tags -->
                    <div class="atricle_attribute_box">
                        <h3>Tag</h3>
                        <!-- 测试用，不用管这段 ->
                        <input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
                        -->
                        <input name="tagsinput" id="tagsinput" class="tagsinput" value="" />
                    </div>
                    <!-- Tags //End -->


                    <!-- Category -->
                    <div class="atricle_attribute_box">
                        <h3>Category</h3>
                        <select ng-model="articledata.category">
                            <option>Cosmetics</option>
                            <option>Insurance</option>
                            <option>Healthcare</option>
                            <option>Health and leisure</option>
                            <option>Commercial</option>
                            <option>Online service</option>
                            <option>Entertainment</option>
                            <option>Season</option>
                            <option>Family</option>
                            <option>Education</option>
                            <option>Traveling</option>
                            <option>Car</option>
                            <option>Law</option>
                            <option>Toys and games</option>
                            <option>Law</option>
                        </select>
                    </div>
                    <!-- Category End -->

                    <!-- Description -->
                    <div class="atricle_attribute_box">
                        <h3>Description</h3>
                        <textarea maxlength="70" ng-model="articledata.description" style="width:580px;"></textarea>
                    </div>
                    <!-- Description //End -->

                    <!-- Social -->
                    <div class="atricle_attribute_box">
                        <h3>SNS Sync Up</h3>
                        <div class="share mrl">
                            <ul>
                                <li>
                                    <label class="share-label" for="share-toggle2"><img src="app/img/sns-facebook.png"></label>
                                    <div class="toggle">
                                        <label class="toggle-radio" for="share-toggle2">ON</label>
                                        <input type="radio" name="share-toggles" id="share-toggle2" value="toggle1">
                                        <label class="toggle-radio" for="share-toggle1">OFF</label>
                                        <input type="radio" name="share-toggles" id="share-toggle1" value="toggle2" checked="checked">
                                    </div> 
                                </li>
                                <li>
                                    <label class="share-label" for="share-toggle4"><img src="app/img/sns-twitter.png"></label>
                                    <div class="toggle">
                                        <label class="toggle-radio" for="share-toggle4">ON</label>
                                        <input type="radio" name="share-toggles2" id="share-toggle4" value="toggle1" checked="checked">
                                        <label class="toggle-radio" for="share-toggle3">OFF</label>
                                        <input type="radio" name="share-toggles2" id="share-toggle3" value="toggle2">
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- Social //End -->

                </div>
                <!-- Tags & Category //End-->
            </div>
            <!-- Right Hide Panel //End -->


        </div>
    </div>
    <!-- Content //End -->
    
    
    <div class="article-footer">
        <!-- 发布按钮 -->
        <div class="article_btn">
            <input type="submit" value="SAVE DRAFT" class="btn btn-save" ng-click="confirmModifyArticle(ArticleForm)">
            <!-- <input type="submit" value="SAVE DRAFT" class="btn-savedraft" ng-click="confirmModifyArticle(ArticleForm)"> -->
            <!--<input type="submit" value="PUBLISH" class="btn-publish" style="display:none;" ng-click="publisharticle(ArticleForm)">-->
        </div>
        
        <!-- 版本节点 -->
        <div class="vernode">
        	<div class="line">
                <a href="" class="node" rel="tooltip" ng-class="{last:$last, current:$last}" ng-click="displayversioninfo(revision);"  ng-repeat="revision in articledata.revision"  title="{{revision.editor}} {{revision.updated | date:'MM/dd/yyyy HH:mm:ss'}} {{revision.lastversioncomment}}">{{revision.versionnum}}</a>
        	</div>
        </div>
    </div>
</form>








