<!DOCTYPE html>
<html lang="en" ng-app="vcpmodule">
  <head>
    <meta charset="utf-8">
    <title>VCP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="lib/jquery/jquery-1.8.2.min.js"></script>
    <script src="app/js/jquery.loader.js"></script>
    <script>$(document).ready(function (){ $("body").queryLoader2({ }); });</script>
    
    <link href="lib/flatui/bootstrap.css" rel="stylesheet">
    <link href="lib/flatui/flat-ui.css" rel="stylesheet">
    <link href="app/style.css" rel="stylesheet">
    <link href="lib/angularslider/angular-slider.css" rel="stylesheet">
    <link rel="shortcut icon" href="app/img/favicon.ico">
    <!--[if lt IE 9]>
      <script src="lib/other/html5shiv.js"></script>
    <![endif]-->
    <!-- 默认 Site Theme -->
    <link href="theme/default/site-theme.css" rel="stylesheet">
    <!-- 幻灯片 -->
    <link type="text/css" rel="stylesheet" href="lib/jqueryplugin/slidebanner/css/slidebanner.css" />
  </head>

  <style type="text/css">
  <!-- 
  html { overflow-y:scroll}
  #kinMaxShow{width:100%; height:500px; overflow:hidden;}
  -->
  </style>
<body style="background: fixed url(app/img/pagebg.jpg) center 60px repeat;">







<!-- Header -->
<header class="header">
	<h1 class="logo"><a href="index.html">VCP</a></h1>
    <a href="../demo/index.html" class="preview">preview</a>
    <ul class="menu clearfix">
    	<li id="menuUser"><a href="user.html">User</a></li>
    	<li id="menuSite"><a href="site.html">Site</a></li>
        <li id="menuPage"><a href="page.html" class="current">Page</a></li>
        <li id="menuArticle"><a href="article_list_index.html">Article</a></li>
        <li id="menuReports"><a href="reports.html">Reports</a></li>
        <li id="menuStore"><a href="#">Store</a>
        	<ul class="subMenuStore">
            	<li><a href="store.html">Style 1: Fixed width</a></li>
                <li style="border:0;"><a href="store2.html">Style 2: Adaptive width</a></li>
            </ul>
        </li>
    </ul>
</header>


<!-- Container -->
<div class="vcpbox page">
<div class="container" ng-controller="pageListcontroller" >



<!-- =======================================  tip_auto ======================================= -->
<div class="tip_box tip_auto" ng-show="'auto'==cssblocktipbox" >
    <h1><a href="###" class="TipBoxClose">X</a>Auto pick block attribute</h1>
    <div class="tabbable tabs-below">
        <div class="tab-content">
            <!-- Tab1: Layout -->
            <div class="tab-pane active" id="tab-layout">
                <dl class="clearfix">
                    <dt>Block name :</dt>
                    <dd>
                        <div class="tipbox_filter">
                            <input type="text" data-provide="typeahead" data-items="10" ng-model="newblock.blockname" placeholder="block name" min="0" max="5" required >
                        </div>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>Layout :</dt>
                    <dd>
                        <div class="tipbox_layout">
                            <a href="#"  ng-repeat="blocklayout in blocklayouts"  ng-click="addblocktopage('auto', currentlayoutcontainer, $index, blocklayout.id)">
                                <img src="{{ blocklayout.layoutimage }}" alt="">
                            </a>
                        </div>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>Quantity :</dt>
                    <dd>
                        <input type="text" ng-model="newblock.blockquantity" >

                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>Sort by :</dt>
                    <dd>
                        <div class="tipbox_sort">
                            <label class="radio">
                                <input type="radio" name="optionsRadios" ng-model="newblock.blocksortby" value="bydate" >By Date (Descend)
                            </label>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" ng-model="newblock.blocksortby" value="bypv">By PV (Descend)
                            </label>
                        </div>
                    </dd>
                </dl>
            </div>
            <!-- Tab1: Layout //End -->
            <!-- Tab2: Filter -->
            <div class="tab-pane" id="tab-filter">
                <dl class="clearfix">
                    <dt>Category :</dt>
                    <dd>
                        <div class="tipbox_filter"> 
                            <select ng-model="newblock.blockcategory" >
                                <option>Cosmetics</option>
                                <option>Insurance</option>
                                <option>Healthcare</option>
                                <option selected="selected">Health and leisure</option>
                                <option>Commercial</option>
                                <option>Online service</option>
                                <option>Entertainment</option>
                                <option>Season</option>
                                <option>Family</option>
                                <option>Education</option>
                                <option>Traveling</option>
                                <option>Car</option>
                                <option>Law</option>
                                <option>Toys and games</option>
                                <option>Law</option>
                            </select>
                        </div>
                    </dd>
                </dl>
                <dl class="clearfix">
                    <dt>Tag :</dt>
                    <dd>
                        <div class="tipbox_filter">
                            <input name="tagsinput"  id="tagsinput" class="tagsinput" value=""  />
                        </div>
                    </dd>
                </dl>
                <!--
                <dl class="clearfix">
                    <dt>Author :</dt>
                    <dd>
                        <div class="tipbox_filter">
                            <input type="text" data-provide="typeahead" data-items="10" data-source='["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]'>
                        </div>
                    </dd>
                </dl> -->
            </div>
            <!-- Tab2: Filter //End -->
            <!-- Tab3: Sort 
            <div class="tab-pane" id="tab-Sort">

            </div>
             Tab3: Sort //End -->
        </div>
        <ul class="nav nav-tabs">
            <li id="layout" class="active"><a href="#tab-layout" data-toggle="tab" ng-click="clickblocklayouttab($event,'tab-layout')">Layout</a></li>
            <li id="filter"><a href="#tab-filter" data-toggle="tab" ng-click="clickblocklayouttab($event,'tab-filter')">Filter</a></li>
            <!-- <li id="sort"><a href="#tab-Sort" data-toggle="tab" ng-click="clickblocklayouttab($event,'tab-Sort')">Sort</a></li> -->
        </ul>

        <li ng-hide="csspooruglilyshortboy" ng-repeat="boy in boys" ng-angulargirl="getTallerRichHandsomeBoy($index) " >
            <a href="{{boy.location}}">Hey  {{boy.name}} , do you have time date with me?</a>
        </li>

    </div>
</div>

<!-- ======================================= tip_editor ======================================= -->
<div class="tip_box tip_editor"  ng-show="'editor'==cssblocktipbox">
    <h1><a href="###" class="TipBoxClose">X</a>Editor's pick block attribute</h1>
    <div class="tab-content">
        <dl class="clearfix">
            <dt>Block name :</dt>
            <dd>
                <div class="tipbox_filter">
                    <input type="text" data-provide="typeahead" data-items="10" ng-model="newblock.blockname" placeholder="block name" data-source='[]'>
                </div>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>Layout :</dt>
            <dd>
                <div class="tipbox_layout">
                    <a href="#"  ng-repeat="blocklayout in blocklayouts"  ng-click="addblocktopage('editor', currentlayoutcontainer, $index)">
                        <img src="{{ blocklayout.layoutimage }}" alt="">
                    </a>
                </div>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>Quantity :</dt>
            <dd>
                <input type="text" ng-model="newblock.blockquantity" >
            </dd>
        </dl>
    </div>
</div>

<!-- ======================================= tip_static ======================================= -->
<div class="tip_box tip_static" ng-show="'static'==cssblocktipbox">
    <h1><a href="###" class="TipBoxClose">X</a>Static</h1>
    <ul class="StaticElementBlock clearfix">
     	<li><a href="#" class="icon_static_txt" ng-click="addblocktopage('statictext', currentlayoutcontainer, 0) ">TXT</a></li>
        <li><a href="#" class="icon_static_pic" ng-click="addblocktopage('staticpic', currentlayoutcontainer, 0)">PIC</a></li>
        <li><a href="#" class="icon_static_video" ng-click="addblocktopage('staticvideo', currentlayoutcontainer, 0)">VIDEO</a></li>
        <li><a href="#" class="icon_static_slider" ng-click="addblocktopage('staticslideshow', currentlayoutcontainer, 0)">Slideshow</a></li>
    </ul>
</div>

<!-- ======================================= tip_ad ======================================= -->
<div class="tip_box tip_ads" ng-show="'ads'==cssblocktipbox">
    <h1><a href="###" class="TipBoxClose">X</a>AD block attribute</h1>
    <div class="tab-content">
        <dl class="clearfix">
            <dt>AD Name:</dt>
            <dd><input type="text" data-provide="typeahead" data-items="10" ng-model="newblock.adsname"></dd>
        </dl>
        <dl class="clearfix">
        	<dt>Layout :</dt>
            <dd>
                <div class="tipbox_layout">
                    <a href="#" ng-click="addblocktopage('ads', currentlayoutcontainer, 0, 1001)"><img src="app/img/ad_layout_big.png" alt=""></a>
                    <a href="#" ng-click="addblocktopage('ads', currentlayoutcontainer, 0, 1002)"><img src="app/img/ad_layout_small.png" alt=""></a>
                </div>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>Code :</dt>
            <dd><textarea rows="3" ng-model="newblock.adscode"></textarea></dd>
            <!--
        	<dt>&nbsp;</dt>
            <dd><input type="submit" class="btn btn-success" value="Add" style=" height:30px; margin:0 0 10px 0;" ng-click="addblocktopage('ads', currentlayoutcontainer, 0)"></dd>
            -->
        </dl>
    </div>
</div>

<!-- ======================================= tip_RSS ======================================= -->
<div class="tip_box tip_RSS" ng-show="'RSS'==cssblocktipbox">
    <h1><a href="###" class="TipBoxClose">X</a>RSS block attribute</h1>
    <div class="tab-content">
        <dl class="clearfix">
            <dt>Block name :</dt>
            <dd>
                <div class="tipbox_filter">
                    <input type="text" data-provide="typeahead" data-items="10" ng-model="newblock.blockname" placeholder="block name" data-source='[]'>
                </div>
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>URL:</dt>
            <dd><input type="text" data-provide="typeahead" data-items="10" ng-model="newblock.urlapi">
            </dd>
        </dl>
        <dl class="clearfix">
            <dt>Layout :</dt>
            <dd>
                <div class="tipbox_layout">
                    <a href="#"  ng-repeat="blocklayout in blocklayouts" ng-click="addblocktopage('RSS', currentlayoutcontainer, $index)">
                        <img src="{{ blocklayout.layoutimage }}" alt="">
                    </a>
                </div>
            </dd>
        </dl>
    </div>
</div>


		<!-- Page -->
        <div class="pagewrap" >

                <!-- Page: Navigation -->
                <div class="row">
                    <div class="span12">

                        <!-- Header Block 2 -->
                        <div class="block_header" ng-class="{header_full: cssheadermenuhavadata, header_empty:!cssheadermenuhavadata, zindextop: cssheadermenubutton, zindexbottom: !cssheadermenubutton}" ng-mouseenter="showheadermenusetting()" ng-mouseleave="hideheadermenusetting()">

                           <!-- 有header 数据 -->
                            <div class="site-theme b-header" ng-show="cssheadermenuhavadata" ng-class="{zindextop:cssheadermenuhavadata}">
                                <h1 class="b-h-logo"><img src="theme/default/img/logo.png" alt="SymptomFind"></h1>
                                <div class="b-h-information">
                                	<input type="text" class="search" value="" placeholder="search...">
                                    <input type="button" class="search_btn" value="Search">
                                </div>
                                <ul class="b-h-nav">
                                    <li ng-repeat="head in header track by $index"><a href="#{{head.linkedurl}}" ng-class="{current: $index==cssheadernavindex}" >{{head.menuname}}</a></li>
                                </ul>
                            </div>
                            <!-- 有header //End -->

                            <!-- 空header 无数据-->
                            <div class="header_view" ng-hide="cssheadermenuhavadata" ng-class="{hover_view:cssheadermenubutton} "></div>
                            <!-- 空header //End -->


                            <!-- Menu 右上角button ========== Block Attribute Panel ======================================= -->
                            <div class="attribute_panel clearfix" ng-show="cssheadermenubutton">
                                <a href="#" class="icon_setup" ng-click="slideshowheadersetting()">setup</a>
                                <a href="#" class="icon_delete" ng-hide="true">delete</a>
                            </div>

                            <!-- HeaderNavSettings 设置面板区 -->
                            <div class="header_panel" ng-show="cssheadermenubutton">

                                <!-- Theme -->
                                <div class="theme_panel">
                                    <a href="#" ng-repeat="theme in headerthemes" ng-class="{select: $index==cssheaderthemeindex, 'last':$last}" ng-click="clickheadertheme($index, theme)">
                                        <img src="{{theme.image}}">
                                    </a>
                                </div>
                                <!-- ??Theme //End -->

                                <!-- Nav Link -->
                                <div class="navlink_panel" ng-show="cssheadersetting" ng-animate="{show: 'fade-show', hide: ''}" >
                                	<ul class="nav_structure clearfix">
                                        <li ng-repeat="head in header track by $index" class="classid">
                                            <a ng-hide='$index==showa' href="#" class="pagelink">
                                                {{head.menuname}}<i class="ico_edit" ng-click="openheaderinfo($index,head,$event)"></i>
                                            </a>
                                            <ul>
                                                <li ng-repeat="child in head.childdata">
                                                    <a ng-hide='child==showchilda' href="#" class="urllink">
                                                        {{child.menuname}}<i class="ico_edit" ng-click="openchildinfo($index,child,head.childdata,$event)"></i>
                                                    </a>
                                                </li>
                                                <li ng-hide="$index==showli">
                                                    <a ng-hide="head.childdata.length > 4" href="#" class="sub_addlink"  ng-click="showheaderform($index,false,$event,true)">+</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li ng-hide="$index==showli"><a ng-hide="header.length > 4" href="#" class="sub_addlink" ng-click="showheaderform($index,true,$event,true)">+</a></li>
                                        <li class="newlink_panel" ng-show="csstitleform">
                                            <form action="" method="get">
                                                <div class="newlink_panel_name">
                                                    <input type="text" class="input_newlink" required ng-model="newheaderdata.menuname" placeholder="Nav link name">
                                                </div>
                                                <div class="newlink_panel_form">
                                                    <label class="radio clearfix">
                                                        <input type="radio" id="urltype1" ng-model="newheaderdata.menutype" value="other">
                                                        <input type="url" ng-model="newheaderdata.linkedurl" required class="input_url" placeholder="URL">
                                                    </label>
                                                    <label class="radio clearfix">
                                                        <input type="radio" id="urltype2" ng-model="newheaderdata.menutype" value="local">
                                                        <select style="width:110px;" ng-model="headerlocalurl" ng-options="page.pagename as page.pagename for page in pages">
                                                        </select>
                                                    </label>
                                                    <div class="newlink_panel_btn">
                                                        <span id="error" ng-show="showerror" style="color:red;font-size:12px;">Please delete it's all child menu.</span><br>
                                                        <input type="submit" value="Save" class="btn btn-success" ng-click="saveheaderinfo()">
                                                        <input id="delete" type="button" value="Cancel" class="btn" ng-click="deleteparentmenu($event)">
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Nav Link //End -->
                            </div>
                            <!-- HeaderNavSettings 设置面板区 //End -->
                        </div>
                        <!-- Header Block 2 //End -->
                    </div>
                </div>
                <!-- Page: Navigation//End -->
                
                
                

                
                
                    
                <!-- Page: Row -->
                <div class="row">
                    <div ng-repeat="layoutcontainer in singlepage.pagelayoutdata" ng-class="layoutcontainer.layoutcontainerclass">
                        <!-- Block Box -->
                        <div class="block_content block-full" ng-repeat="block in layoutcontainer.blocks track by $index" ng-class="{hoverfill:cssblockeditmenubutton}"  ng-mouseenter="showeditblockmenubutton()" ng-mouseleave="hideeditblockmenubutton()">

                            <!-- Block Layou: 无图列表 class="PageBlockLayout_Row_noIMG" -->
                            <div class="site-theme b-block block-layout-1" ng-class="{displaynone:block.blocktype == 'RSS', displaynone2:block.blocktype == 'ads', displaynone3:block.blocktype == 'static'}">
                            		<div class="globalTitle GT_blue clearfix">
                                		<div class="arrow"></div>
                                		<h6 class="blue">{{ block.blockname}}</h6>
                            		</div>
                                    <div class="globalContBox">
                                        <ul ng-class="{PageBlockLayout_Row_noIMG:block.blocklayout == '101',PageBlockLayout_Row:block.blocklayout == '100',PageBlockLayout_Column2_noIMG:block.blocklayout == '103',PageBlockLayout_Column3:block.blocklayout == '102'}" class="clearfix">
                                            <li ng-repeat="article in block.blockarticles ">
                                                <h6><span class="time">{{ article.created | date:'MM/dd/yyyy' }}</span><a href="#">{{ article.title }}</a></h6>
                                                <a href="#" class="linkImg"><img src="app/img/symptomfind/temp_06.jpg" alt="" /></a>
                                                <p>{{ article.title }}<a href="###">more</a></p>
                                            </li>
                                        </ul>
                                    </div>
                            </div>
                            <!-- Block Layou: 无图列表 // End -->
                            

                            <div class="site-theme b-block block-layout-1" ng-show="block.blocktype=='RSS'">
                                <h3>{{ block.blockname}}</h3>

                                <p><a href="#">How To Be A Top Financial Advisor</a></p>
                                <p><a href="#">Retail Banking Vs. Commercial Banking</a></p>
                                <p><a href="#">The Basics Of A 401(k) Retirement Plan</a></p>
                                <p><a href="#">6 Tough Questions To Ask Before Retirement</a></p>
                                <p><a href="#">Quit Your Job To Trade Stocks?</a></p>

                            </div>

                            <div class="site-theme b-block block-layout-1" ng-show="block.blocktype=='ads'">
                                <!-- 长条形广告 -->
                                <img src="app/img/AD/AD_span9.jpg" ng-show="block.blocklayout==1001">
                                <!-- 短形广告 -->
                                <img src="app/img/AD/AD_span3.jpg" ng-show="block.blocklayout==1002">
                            </div>



                            <div class="site-theme b-block block-layout-1" ng-show="block.blocktype=='static'">
                            	<!-- 纯文本 -->
                                <h2 ng-show="block.blockstatictype=='text'">{{ block.blockname}}</h2>
                                <h4 class="b-block-staticTitle" ng-show="block.blockstatictype=='text'">Seasonal Allergy Symptoms</h4>
                                <p class="b-block-staticTxt" ng-show="block.blockstatictype=='text'">SymptomFind.com is one of the leading providers of health information on the Web. </p>
                                <h4 class="b-block-staticTitle" ng-show="block.blockstatictype=='text'">Our Mission</h4>
                                <p class="b-block-staticTxt" ng-show="block.blockstatictype=='text'">At SymptomFind.com, we are committed to providing the most accurate and authoritative information regarding health and nutrition to suit the needs of the everyday person.</p>

                                <!-- 图片 -->
                                <div ng-show="block.blockstatictype=='pic'">
                                	<p><img src="app/img/temp/pic.jpg"></p>
                                </div>

                                <!-- 视频 -->
                                <video ng-show="block.blockstatictype=='video'" style="width:100%;" src="app/img/temp/forest.mp4" autoplay loop controls></video>


                                <!-- 幻灯片 Slider Banner -->
                                <div  ng-show="block.blockstatictype=='slideshow'" id="content-slider">
                                    <div id="slider">
                                        <div id="mask">
                                            <ul>
                                            <li id="first" class="firstanimation">
                                            <a href="#">
                                            <img src="app/img/temp/img_1.jpg" alt="Cougar"/>
                                            </a>
                                            <div class="tooltip">
                                            <h1>Cougar</h1>
                                            </div>
                                            </li>

                                            <li id="second" class="secondanimation">
                                            <a href="#">
                                            <img src="app/img/temp/img_2.jpg" alt="Lions"/>
                                            </a>
                                            <div class="tooltip">
                                            <h1>Lions</h1>
                                            </div>
                                            </li>

                                            <li id="third" class="thirdanimation">
                                            <a href="#">
                                            <img src="app/img/temp/img_3.jpg" alt="Snowalker"/>
                                            </a>
                                            <div class="tooltip">
                                            <h1>Snowalker</h1>
                                            </div>
                                            </li>

                                            </ul>
                                        </div>
                                        <div class="progress-bar"></div>
                                    </div>
                                </div>


                            </div>


                            <!-- Content End -->

                            <!-- ======================================= Block Menu Attribute Panel ======================================= -->

                            <div class="attribute_panel" ng-show="cssblockeditmenubutton" ng-class="{editors: block.blocktype=='editor'}">
                                <a href="##" class="icon_delete" ng-click="delblock(block, layoutcontainer);">delete</a>
                               <!-- <a href="##" class="icon_move" ng-click="showfilleditform();">move</a>-->
                                <!--<a href="##" class="icon_setup" ng-click="updateshowblcoksetting(block, $event );">setup</a>-->
                                <!-- <a href="##" class="icon_editor" ng-click="showfilleditform();">editors</a>-->
                                <div class="editor_inset" ng-show="block.blocktype=='editor'" >
                                    <input type="text" placeholder="pls input article title" value="" ng-model="newarticle" typeahead="article as article.title for article in localarticles | filter:$viewValue"   enter-Keypress="{enter: addaritcletoeditorblock(block, currentlayoutcontainer)}">
                                </div>
                            </div>
                            <!-- Block Menu Attribute Panel //End -->
                        </div>

                        <!-- Add Block Box -->
                        <div ng-hide="layoutcontainer.layoutcontainerclass == isarticle" id="blockcontent" class="block_content blockempty" ng-class="{hoverempty:cssblockaddmenubutton}"  ng-mouseenter="showaddblockmenubutton()" ng-mouseleave="hideaddblockmenubutton()">

                            <!-- ICO -->
                            <div class="ico_box" ng-show="cssblockaddmenubutton">
                                <div class="ico_autoblock" ng-click="showblocksettingmenu( 'auto', $event, layoutcontainer)" ng-class="{ico_active:'auto'==cssblocktipadd}"><!-- Auto --></div>
                                <div class="ico_autoeditor" ng-click="showblocksettingmenu( 'editor', $event, layoutcontainer)" ng-class="{ico_active:'editor'==cssblocktipadd}"><!-- Editor's --></div>
                                <br>
                                <div class="ico_staticblock" ng-click="showblocksettingmenu( 'static', $event, layoutcontainer)" ng-class="{ico_active:'static'==cssblocktipadd}"><!-- Static --></div>
                                <div class="ico_adblock"  ng-click="showblocksettingmenu( 'ads', $event, layoutcontainer)" ng-class="{ico_active:'ads'==cssblocktipadd}"><!-- AD --></div>
                                <div class="ico_RSS"  ng-click="showblocksettingmenu( 'RSS', $event, layoutcontainer)" ng-class="{ico_active:'RSS'==cssblocktipadd}"><!-- AD --></div>
                            </div>
                            <!-- ICO //End -->

                            <!--insert here-->
                        </div>
                        <!-- Add Block Box //End -->

                    </div>
                </div>
            	<!-- Page: Row //End -->
                





                <!-- Page: Footer -->
                <div class="row">
                    <div class="span12">
                        <!-- Footer Block 1 -->
                    	<div class="block_footer" ng-class="{footer_full:cssfootermenuhavadata,footer_empty:!cssfootermenuhavadata,zindextop:cssfootermenubutton,zindexbottom:!cssfootermenubutton}" ng-mouseenter="showfootmenusetting()" ng-mouseleave="hidefootmenusetting()">
                           <!-- footer_full footer_empty-->

                        	<!-- 有 Footer -->
                        	<div class="site-theme b-footer" ng-show="cssfootermenuhavadata" ng-class="{zindextop:cssfootermenuhavadata}">
                            	<p>
                                    <span ng-repeat="footer in footer"><a href="#">{{footer.footername}}</a><span ng-hide="$index==footermaxindex">&nbsp;|</span></span>
                                </p>
                                <p>Copyright ? 2013 ValueClick Brands, Inc. All Rights Reserved.</p>
                            </div>
                            <!-- 有 Footer //End -->
                            <!-- 空 Footer -->
                        	<div class="footer_view" ng-hide="cssfootermenuhavadata" ng-class="{hover_view:cssfootermenubutton} "></div>
                            <!-- 空 Foote //Endr -->

                            <!-- Menu 右上角button ========== Block Attribute Panel ======================================= -->
                            <div class="attribute_panel clearfix" ng-show="cssfootermenubutton">
                                <a href="#" class="icon_setup" ng-click="slideshowfootersetting()">setup</a>
                                <a href="#" class="icon_delete">delete</a>
                            </div>

                            <!-- FooterNavSettings 设置面板区 -->
                            <div class="footer_panel" ng-show="cssfootermenubutton">
                                <!-- 选择Theme -->
                                <div class="theme_panel">
                                    <a href="#" ng-repeat="theme in footerthemes" ng-class="{select: $index==cssfooterthemeindex,last:$last}" ng-click="clickfootertheme($index, theme)">
                                        <img src="{{theme.image}}">
                                    </a>
                                </div>
                                <!-- 选择Theme //End -->

                                <!-- Nav Link -->
                                <div class="footerlink_panel" ng-show="cssfootersetting" ng-animate="{show: 'fade-show', hide: ''}" >
                                    <ul class="footer_structure clearfix">
                                        <li ng-repeat="foot in footer" class="classid">
                                            <a ng-hide='foot==footerlia' href="#" class="pagelink">
                                                {{foot.footername}}<i class="ico_edit" ng-click="openfooterinfo($event,foot,$index);"></i>
                                            </a>
                                        </li>
                                        <li ng-hide="$index==footerli">
                                            <a ng-hide="footer.length > 4" href="#" class="sub_addlink" ng-click="showheaderform($index,'',$event,false)">+</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Nav Link //End -->
                            </div>
                            <!-- FooterNavSettings 设置面板区 //End -->
                    	</div>
                        <!-- Footer Block 1 //End -->
                    </div>
                </div>
                <!-- Page: Footer 1 //End -->
                
        </div>
        <!-- Page //End -->
        <!-- SideBar:Page List -->
		<div class="pagelist" >
        		<ul class="pagelistbox">
                	<!-- ArticlePage -->
					<!--<li><a href="#{{page.pageurl}}" class="pagelist_btn articlepage_btn" ng-repeat="page in pages | filter:pagefilterarticle | orderBy:'pageorder'" ng-class="{active: $index==defaultselectedpageindex}" ng-click="clickpage($index)">-->
                            <!--<i class="drag"></i>{{page.pagename}}<i class="ico_edit"></i>-->
                    <!--</a></li>-->
                    <!-- PageList -->

                    <li ng-repeat="page in pages | orderBy:'pagetype' | orderBy:'pageorder'"  ng-animate="'repeat'">
                        <i class="ico_edit" ng-click="showeditpageattribute($index)"></i>
                        <a href="#{{page.pageurl}}" class="pagelist_btn listpage_01"  ng-class="{active: $index==defaultselectedpageindex, articlepage_btn:11==page.pagetype}" ng-click="clickpage($index, page)">
                            <i class="drag"></i>{{page.pagename}}
                        </a>

                        <!-- ======================================= Page Attribute Panel ======================================= -->
                        <div class="page_attri_panel" ng-show="$index == selectedpageattributeindex">
                            <a href="" class="panel_close" ng-click="closeeditpageattribute($index)">X</a>
                            <h2>Page Attribute</h2>
                            <div class="page_attri_cont">
                                <form>
                                    <input type="text" class="" placeholder="Page Name" ng-model="page.pagename">
                                    <i class="clearfix">This name for this page that is presented in your navigation bar.</i>

                                    <input type="text"  class="" placeholder="Page Title" ng-model="page.pagetitle">
                                    <i class="clearfix">The title that appears in the top of the browser window for this page.</i>

                                    <input type="text" class="" placeholder="Page Url" ng-model="page.pageurl">
                                    <i class="clearfix">This name for this page that is presented in your navigation bar.</i>
                                    <div class="btn_box">
                                        <a href="#" class="btn attri_del" ng-click="delpage(page)">Del</a>
                                        <a href="#" class="btn attri_save" ng-click="editsavepage(page)">Save</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>

                    <!-- Add new page -->

                    <li ng-show="cssshowpageaddinput"><a href="#" class="pagelist_btn newpage">
                        <i class="drag">1</i><input type="text" class="input_addnew" ng-model="newpage.pagename"  placeholder="NewPage" enter-Keypress="{enter: addpage()}"/>
                    </a></li>

                </ul>

                <a href="#" class="addpage_btn" ng-hide="cssshowpageaddinput" ng-click="showaddpageinput()">+</a>
        </div>
        <!-- SideBar:Page List//End -->
        <!-- Page Layout -->
        <div class="pagelayout" >
            <ul class="layout_list">
                <li class="" ng-repeat="layout in layouts | filter:layoutfilterlisttype " ng-class="{ active: $index==defaultselectedlayoutindex } " ng-click="clicklayout($index, layout)"  >
                    <img src="{{layout.layoutimage}}">
                </li>
            </ul>
            <span href="##" class="ico_layout_close ico_layout_open"></span>
        </div>
        <!-- Page Layout//End -->
</div>
</div>





    <!-- Load JS -->
    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/angular/1.1.5/angular.js"></script>
    <script src="lib/angularui/ui-bootstrap-tpls-0.4.0.min.js"></script>
    <script src="app/js/pagecontrollers.js"></script>
    <script src="app/js/factory.js"></script>
    <script src="app/js/directives.js"></script>

    <script src="lib/jqueryui/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="lib/flatui/custom_checkbox_and_radio.js"></script>
  <!--  <script src="lib/flatui/custom_radio.js"></script>-->
    <script src="lib/flatui/jquery.tagsinput.js"></script>
    <script src="lib/flatui/jquery.placeholder.js"></script>

    <!-- Bootstrap Plug -->
    <script src="lib/boostrap/bootstrap.js"></script>
    <!--[if lt IE 8]>
      <script src="lib/flatui/icon-font-ie7.js"></script>
      <script src="lib/flatui/lte-ie7-24.js"></script>
    <![endif]-->
    <script src="app/js/custom.js"></script>

    
    
    <script type="text/jscript">
			 //$('.fancyinput_vcp :input').val('').fancyInput()[0].focus();
			
			$(function() {
				
				  //关闭TipBox
					$(".TipBoxClose").click(function(){
						 $(".tip_box").fadeOut(300);
					});
				
				  
        	});
	</script>
</body>
</html>
