@charset "utf-8";
/* CSS Document */

.site-theme-default		{ padding:10px; background:#fff;}
.site-theme-default a	{ color:#3e7c34; text-decoration:none;}
.site-theme-default a:hover{ text-decoration:underline;}
.site-theme-default h2	{ font-size:18px; margin:0; margin-bottom:10px; border-bottom:15px solid #555656; color:#333;}
.site-theme-default h3	{ font-size:16px; line-height:24px; font-weight:normal;}
.site-theme-default p	{ font-size:14px; color:#666;}
.site-theme-default ul	{ list-style:none; margin:0;}
.site-theme-default ul li{ border-bottom:1px dotted #ccc;}

