@charset "utf-8";
/* CSS Document */


/* Global */
.site-theme					{ padding:10px;}



/* Page Header */
.site-theme.b-header{ position:relative; margin:0; padding:0; height:100px; background:#fff; border-radius:4px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

.site-theme.b-header .b-h-logo	{ position:relative; display:block; float:left; margin-left:20px; color:#249fd8;}
.site-theme.b-header .b-h-info	{ position:absolute; right:20px; top:20px; color:#888;}
.site-theme.b-header .b-h-info a{ font-size:12px; color:#888; text-decoration:none; margin-left:10px;}
.site-theme.b-header .b-h-info a:hover{ color:#249fd8;  text-decoration:underline;}

.site-theme.b-header .b-h-nav	{ width:100%; position:absolute; right:0; bottom:0; margin:0; padding:0; list-style:none; border:1px solid #fff; border-radius:4px; box-shadow:0 0 2px rgba(0,0,0,0.5); background:#f3f3f3; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3'); background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3)); background:-moz-linear-gradient(top, #ffffff, #f3f3f3); -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
.site-theme.b-header .b-h-nav li{ float:left; margin-right:1px;}
.site-theme.b-header .b-h-nav li a{ display:block; margin:0; padding:0; border:0; color:#333; font-size:12px; font-weight:bold; width:100px; height:30px; text-align:center; line-height:30px; text-decoration:none; border-radius:3px;}
.site-theme.b-header .b-h-nav li a:hover,
.site-theme.b-header .b-h-nav li a.current,
.site-theme.b-header .b-h-nav li a.current:hover{ background:#249fd8; color:#fff; }




/* Page Footer */
.site-theme.b-footer	{ position:relative; margin:0; padding:20px 0 0 0; height:60px; border-top:2px solid #bbb; background:#f6f6f6;}
.site-theme.b-footer p	{ color:#888; text-align:center; font-size:12px;}
.site-theme.b-footer p a{ color:#666; padding:0 6px;}




/* Page Block */
.site-theme.b-block h2		{ position:relative; font-size:18px; margin:0; background:#249fd8; line-height:36px; text-indent:10px; color:#fff; border-radius:3px;}
.site-theme.b-block h2:before{ content:'more'; position:absolute; right:0; top:0; padding:0 8px; text-indent:0; height:100%; font-weight:normal; font-size:12px; text-align:right; overflow:hidden; background:#4cb1df; border-radius:0 4px 4px 0; text-decoration:underline; cursor:pointer;}
.site-theme.b-block ul		{ list-style:none; margin:0; background:#f2f1f6; }
.site-theme.b-block ul li	{ position:relative; padding:0 10px; margin:0; font-size:14px; color:#666; border-bottom:1px solid #fff; border-top:0; clear:both;}
.site-theme.b-block ul li:hover{ background:#fff;}
.site-theme.b-block ul li h3{ font-size:16px; margin:0; padding:0; line-height:30px; font-weight:normal; max-width:80%; overflow:hidden; white-space:nowrap; -o-text-overflow:ellipsis; text-overflow:ellipsis;}
.site-theme.b-block ul li span{ display:block; position:absolute; right:4px; top:6px; color:#999; font-size:12px; }
.site-theme.b-block ul li a	{ font-size:13px; color:#333; text-decoration:none;}
.site-theme.b-block ul li a:hover{ color:#1a95d0;}





/* Article H1 */



