<!-- Page: Row -->
				<div class="row">
					<div class="span8">
						<div style="padding:10px;">
						<a href="http://www.investopedia.com/" target="_blank" title="????????"><img ng-src="app/img/temp/reel_3.jpg"></a>
						</div>
					</div>
				</div>

                <div class="row">
					<div class="span8">
						<div class="site-theme b-block block-layout-1">
							<h2 class="ng-binding">Today hot</h2>
							<ul>
								<li ng-repeat="article in articles | filter:todayhot| limitTo:5" class="ng-scope"><span class="ng-binding">{{article.created}}</span>
									<h3><a href="#/article/{{article.id}}" class="ng-binding">{{article.title}}</a></h3>
								</li>
							</ul>
						</div>
					</div>
                </div>
            	<!-- Page: Row //End -->


                <!-- Page: Footer -->
                <div class="row">
                    	<div class="span8">
						<div class="site-theme b-block block-layout-1">
							<h2 class="ng-binding">Investing</h2>
							<ul>
								<li ng-repeat="article in articles | filter:{tag:'investing'} | limitTo:5" class="ng-scope"><span class="ng-binding">{{article.created}}</span>
									<h3><a href="#/article/{{article.id}}" class="ng-binding">{{article.title}}</a></h3>
								</li>
							</ul>
						</div>
					</div>
                </div>

				 <div class="row">
                    	<div class="span8">
						<div class="site-theme b-block block-layout-1">
							<h2 class="ng-binding">Personal Finance</h2>
							<ul>
								<li ng-repeat="article in articles | filter:{tag:'personal-finance'} | limitTo:5" class="ng-scope"><span class="ng-binding">{{article.created}}</span>
									<h3><a href="#/article/{{article.id}}" class="ng-binding">{{article.title}}</a></h3>
								</li>
							</ul>
						</div>
					</div>
                </div>

				 <div class="row">
                    	<div class="span8">
							<div class="site-theme b-block block-layout-1">
								<h2 class="ng-binding">Active Trading</h2>
								<ul>
									<li ng-repeat="article in articles | filter:{tag:'active-trading'} | limitTo:5" class="ng-scope"><span class="ng-binding">{{article.created}}</span>
										<h3><a href="#/article/{{article.id}}" class="ng-binding">{{article.title}}</a></h3>
									</li>
								</ul>
							</div>
						</div>
				  </div>