<!-- Page: Row -->
                <div class="row">
					<div class="span8">  
						<div class="site-theme b-block block-layout-1">
							<h2 class="ng-binding">Articles</h2>
							<ul>
								<li ng-repeat="article in articles | filter:{tag:'active-trading',type:'article'}" class="ng-scope"><span class="ng-binding">{{article.date}}</span>
									<h3><a href="#/article/{{article.id}}" class="ng-binding">{{article.title}}</a></h3>
								</li>
							</ul>
						</div>
					</div>
                </div>
            	<!-- Page: Row //End -->


                <!-- Page: Footer -->
                <div class="row">
                    	<div class="span8">  
						<div class="site-theme b-block block-layout-1">
							<h2 class="ng-binding">Definitions</h2>
							<ul>
								<li ng-repeat="article in articles | filter:{tag:'active-trading',type:'term'} | limitTo:5" class="ng-scope"><span class="ng-binding">{{article.date}}</span>
									<h3><a href="#/article/{{article.id}}" class="ng-binding">{{article.title}}</a></h3>
								</li>
							</ul>
						</div>
					</div>
                </div>

				 <div class="row">
                    	<div class="span8">  
						<div class="site-theme b-block block-layout-1">
							<h2 class="ng-binding">Tutorials</h2>
							<ul>
								<li ng-repeat="article in articles | filter:{tag:'active-trading',type:'tutorial'} | limitTo:5" class="ng-scope"><span class="ng-binding">{{article.date}}</span>
									<h3><a href="#/article/{{article.id}}" class="ng-binding">{{article.title}}</a></h3>
								</li>
							</ul>
						</div>
					</div>
                </div>