<!DOCTYPE html>
<html lang="en" ng-app="vcpmodule">
  <head>
    <meta charset="utf-8">
    <title>VCP</title>
    <meta name="viewport" content="target-densitydpi=device-dpi" />
    <link href="lib/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="app/style.css" rel="stylesheet" id="skinCss">
    <link rel="shortcut icon" href="app/img/favicon.ico">
    <!--[if lt IE 9]>
      <script src="lib/other/html5shiv.js"></script>
    <![endif]-->
    <!-- 默认 Site Theme -->
    <link href="theme/default/site-theme.css" rel="stylesheet">
  </head>
<body class="vcpbody">



<!-- Header -->
<header class="header">
	<h1 class="logo"><a href="index.html">VCP</a>
      <!-- #BeginLibraryItem "/app/temp/project_select.lbi" -->
      <select class="melvon_select" onchange="self.location.href=options[selectedIndex].value">
        <optgroup label="Publish Admin">
          <option value="index.html">Index</option>
          <option value="register.html">Register</option>
          <option value="site.html">Site</option>
          <option value="page.html">Page</option>
          <option value="article_list_index.html">Article</option>
          <option value="user.html">User</option>
          <option value="app.html">App</option>
        </optgroup>
        <optgroup label="Publisher Preview">
          <option value="../publisherpreview/index.html">Preview</option>
        </optgroup>
        <optgroup label="Reader Admin">
          <option value="../readeradmin/index.html">Reader Admin</option>
        </optgroup>
        <optgroup label="Standrad">
          <option value="../standrad/standrad.html">HTML/CSS/Javascript</option>
          <option value="../standrad/Interactive.html">Interactive</option>
          <option value="../standrad/icon.html">Icon</option>
          <option value="../standrad/visual.html">Visual</option>
        </optgroup>
      </select>
    <!-- #EndLibraryItem --> </h1>
    <a href="###" class="preview">preview</a>
    <div class="preview_Item">
        <a href="#" class="forMobile">On Mobile</a>
        <a href="#" class="forPad">On Pad</a>
        <a href="../demo/index.html" class="forPC" target="_blank">On PC</a>
    </div>
    <ul class="menu clearfix">
    	<li id="menuSite"><a href="site.html">Site</a></li>
        <li id="menuPage"><a href="page.html">Page</a></li>
        <li id="menuArticle"><a href="article_list_index.html">Article</a></li>
        <li id="menuReports"><a href="reports.html">Report</a></li>
        <li id="menuStore"><a href="store.html">Store</a>
        <li id="menuUser"><a href="user.html" class="current">User</a>
        	<ul class="subMenu">
           <li><a href="user_loginagain.html">User Login Again</a></li>
           </ul>
        </li>
        <li id="menuAppGenerate"><a href="app.html">App</a></li>
    </ul>
</header>
        

<!-- Container -->
<div class="vcpbox" ng-controller="userInfoController">
	<div class="user_Box">
    	
        
    	
       
        <div class="user_stepbox">
        	<div class="user_step_title clearfix"><h1 class="title_name">User Information</h1></div>
        	<form name="userForm">
            
                <!-- HeadPhoto、BaseInformation -->
                <div class="userBaseInfo clearfix">
                
                	<!-- HeadPhoto -->
                    <div class="userBaseInfoFloat">
					    <h6>User Picture</h6>
                        <!-- 无头像时: class="userPhoto empty" -->
                        <div class="userPhoto empty"  ng-hide = "csshaveavatar">
                            <h6>drop here</h6>
                            <input type="submit" class="btn btn-default" value="Browse" ng-click="uploadavator()">
                        </div>
                        <!-- 有头像时: class="userPhoto full" -->
                        <div class="userPhoto full" ng-cloak ng-show = "csshaveavatar">
                            <img src="app/img/photo/photohead.png">
                            <input type="submit" class="btn btn-default" value="change photo">
                        </div>
                    </div>
                    <!-- HeadPhoto //End -->
                    
                    <!-- BaseInformation -->
                    <div class="userBaseInfoFloat" style="margin-left:30px;">
                          <h6>first name</h6>
                          <!-- 编辑状态时显示：--><input type="text" required ng-model="userdata.firstname">
                          <!-- 保存后显示：<p>Melvon</p> -->
                          <h6>last name</h6>
                          <!-- 编辑状态时显示：--><input type="text" required ng-model="userdata.lastname">
                          <!-- 保完后显示：<p>Melvon</p> -->
                          <h6>gender</h6>
                          <!-- 编辑状态时显示：--><label><input type="radio" ng-model="userdata.gender" value="male" name="gender">Male</label>
                          <!-- 编辑状态时显示：--><label><input type="radio" ng-model="userdata.gender" value="female" name="gender">Female</label>
                          <!-- 保存后显示：<p>Male</p> -->
                          <h6>telephone</h6>
                          <!-- 编辑状态时显示：--><input type="text" required ng-model="userdata.mobilenumber">
                          <!-- 保存后显示：<p>010-62068000</p> -->
                          <div class="clearfix"></div>
                          <a href="#" id="changepwd" class="chagePWD" ng-click="changepassword()">Change Password</a>
                    </div>
                    <!-- BaseInformation //End -->
                    
                    <div class="clearfix"></div>
                    
                    <!-- userFormBox // End -->
                    <div class="submitbox">
                        <input type="submit" class="btn btn-save" data-loading-text="SAVEING..."  data-complete-text="SAVED!" value="SAVE" ng-click="saveuserinfo(userinfo)">
                        <input type="submit" class="btn btn-edit" value="edit" ng-hide="true">
                    </div>
                    
                </div>
                <!-- HeadPhoto、BaseInfo //End -->
                
                <!-- Change Password -->
                <div class="userPassword" ng-cloak ng-show="cssshowpasswordbox">
                    <a href="#" class="panel_close">X</a>
                    <h6>old password</h6>
                    <input id="oldpassword" type="password" ng-model="userdata.oldpassword">
                    <hr>
                    <h6>new password</h6>
                    <input id="newpassword" type="password" ng-model="userdata.newpassword1">
                    <h6>confirm new password</h6>
                    <input id="conformpassword" type="password" ng-model="userdata.newpassword2">
                    
                    <!-- Wrong Tip -->
                    <div class="wrongTip" ng-show="cssoldpassword">Old password error !</div>
                    <div class="wrongTip" ng-show="cssnewpassword">Please input new password !</div>
                    <div class="wrongTip" ng-show="cssnewpassword2">Please input new password again !</div>
                    <div class="wrongTip" ng-show="cssshowinconsistent">Password inconsistent!</div>
                    
                    <!-- Submit -->     
                    <div class="submitbox">
                    	<a href="#" class="btn btn-save">
                        <input type="submit" id="savepwd" class="btn btn-save" data-loading-text="SAVEING..."  data-complete-text="SAVED!" value="SAVE" ng-click="modifypassword()">
                        </a>
                    </div>
                </div>
                <!-- Change Password //End -->
            
            
                
            
            
        	</form>
        </div>
        
        
          
    </div>
</div>



    <ul id="skin">
    	<li id="style" class="selected"></li>
    	<li id="style_1"></li>
    </ul>

    <!-- Load JS -->
    <script src="lib/underscore/underscore-min.js"></script>

    <script src="lib/angular/1.1.5/angular.js"></script>
    <script src="app/js/usercontrollers.js"></script>
    <script src="app/js/factory.js"></script>
    <script src="app/js/directives.js"></script>

    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="lib/angularfire/angularfire.js"></script>
	
    <script src="lib/jquery/jquery-1.8.2.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/jqueryui/jquery-ui-1.10.0.custom.min.js"></script>
    
    <!-- jQuery Plug: niceScroll -->
    <script src="lib/jqueryplugin/jquery.nicescroll.min.js"></script>
            
    <script src="app/js/custom.js"></script>
    
    <script type="text/javascript">
	
		$(function(){
			
			$(".panel_close").click(function() {
				$(".userBaseInfo").animate({left:'0'});
				$(".userPassword").animate({left:'0'});
			});
			
			
		})
	
	</script>

 </body>
</html>
